pandas==2.2.1
numpy==1.26.4
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3
yfinance==1.2.0
statsmodels==0.14.6
scipy==1.12.0
matplotlib==3.8.2
tqdm==4.67.3
jupyter==1.0.0
pytest==9.0.2
pandas_market_calendars==5.4.0
exchange_calendars==4.13.2
reportlab==5.0.1
nbclient==0.8.0
nbformat==5.9.2
ipykernel==6.29.5
tabulate==0.10.0
